
TWOCAPTCHA_API_KEY=aab5ec3d5c2bb79ea39165ef7a8f1a46

HEALTHCHECK_URL=https://hc-ping.com/149405ac-86b7-449e-9c10-11b1876e133b

AFIP_CUIT=20471562735

AFIP_CERT_PATH=/home/tecnico/doncarlos/pycore/produccion.crt
AFIP_KEY_PATH=/home/tecnico/doncarlos/pycore/privada.key

CODEM_PROXY=socks5://127.0.0.1:1080


SUPABASE_URL=url de supabase
SUPABASE_KEY=Key de servicio

#Se nota que hice el env a mano y no una IA pq se ve horrible